<a href="https://colab.research.google.com/github/EmpireAbdi/Algorithms-issues/blob/master/practic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Algorithm Question

برنامه ای بنویسید که سه عدد را بگیرد و میانگین آنها را چاپ کند

In [ ]:
x = int(input("Insert X :"))
y = int(input("Insert Y :"))
z = int(input("Insert Z :"))

average = (x + y + z) / 3

print(f"Average is {average}")

Insert X :3
Insert Y :4
Insert Z :5
Average is 4.0

حقوق کارگری را بگیرید و پس از کم کردن 10 درصد برای حق بیمه و 5 درصد برای حق مسکن حقوق خالص را چاپ نمایید

In [ ]:
amount = float(input("Please Ensert Your amount : "))

output = (10 + 5) / 100

org_amount = amount - (amount * output)

print(f"Your Org amount is {org_amount}")

Please Ensert Your amount : 1000
Your Org amount is 850.0

برنامه ای بنویسید که زمام را بر حسب ثانیه بگیرد و سپس بگوید چند ساعت و چند دقیقه و چند ثانیه است

In [ ]:
second_ = int(input("Please Ensert Second : "))

hour = int(second_ / 3600)
minute = int((second_ / 60) - hour * 60)
sond = (second_ - (hour * 60 * 60)) - minute * 60

print(f"hour : {hour}")
print(f"minute : {minute}")
print(f"second : {sond}")

Please Ensert Second : 4210
hour : 1
minute : 10
second : 10

برنامه ای بنویسید که اعداد دو رقمی زوج را نشان دهد

In [ ]:
# ----------Soloution one----------
# for i in range(10, 100, 2):
#   print(i)

# ----------Soloution Two----------
i = 10
while i < 100:
  if i % 2 == 0:
    print(i, '\t', end='')
  i += 1

10 	12 	14 	16 	18 	20 	22 	24 	26 	28 	30 	32 	34 	36 	38 	40 	42 	44 	46 	48 	50 	52 	54 	56 	58 	60 	62 	64 	66 	68 	70 	72 	74 	76 	78 	80 	82 	84 	86 	88 	90 	92 	94 	96 	98

برنامه ای بنویسید که عددی را ورودی بگیرد و سپس اعداد فرد کوچکتر یا مساوی آن را چاپ کند

In [ ]:
number = int(input("Pleae Enter a Number : "))

while number > 0:
  if number % 2 != 0:
    print(number, '\t', end='')
  number -= 1

Pleae Enter a Number : 20
19 	17 	15 	13 	11 	9 	7 	5 	3 	1

برنامه ای بنویسید که اعداد زوج بین دو عدد را چاپ کند و در نهایت مجموع آنها را هم چاپ کند

In [ ]:
x = int(input("Please Ensert First : "))
y = int(input("Please Ensert Last : "))

max_ = max(x, y)
min_ = min(x, y)

total = 0

while min_ <= max_:
  if min_ % 2 == 0:
    print(min_ ,'\t', end='')
    total += min_
  min_ += 2

print()
print(f"Total is {total}")

Please Ensert First : 1000
Please Ensert Last : 2000
1000 	1002 	1004 	1006 	1008 	1010 	1012 	1014 	1016 	1018 	1020 	1022 	1024 	1026 	1028 	1030 	1032 	1034 	1036 	1038 	1040 	1042 	1044 	1046 	1048 	1050 	1052 	1054 	1056 	1058 	1060 	1062 	1064 	1066 	1068 	1070 	1072 	1074 	1076 	1078 	1080 	1082 	1084 	1086 	1088 	1090 	1092 	1094 	1096 	1098 	1100 	1102 	1104 	1106 	1108 	1110 	1112 	1114 	1116 	1118 	1120 	1122 	1124 	1126 	1128 	1130 	1132 	1134 	1136 	1138 	1140 	1142 	1144 	1146 	1148 	1150 	1152 	1154 	1156 	1158 	1160 	1162 	1164 	1166 	1168 	1170 	1172 	1174 	1176 	1178 	1180 	1182 	1184 	1186 	1188 	1190 	1192 	1194 	1196 	1198 	1200 	1202 	1204 	1206 	1208 	1210 	1212 	1214 	1216 	1218 	1220 	1222 	1224 	1226 	1228 	1230 	1232 	1234 	1236 	1238 	1240 	1242 	1244 	1246 	1248 	1250 	1252 	1254 	1256 	1258 	1260 	1262 	1264 	1266 	1268 	1270 	1272 	1274 	1276 	1278 	1280 	1282 	1284 	1286 	1288 	1290 	1292 	1294 	1296 	1298 	1300 	1302 	1304 	1306 	1308 	1310 	1312 	1314 	1316 	1318 	1320 	1322 	1324 	1326 	1328 	1330 	1332 	1334 	1336 	1338 	1340 	1342 	1344 	1346 	1348 	1350 	1352 	1354 	1356 	1358 	1360 	1362 	1364 	1366 	1368 	1370 	1372 	1374 	1376 	1378 	1380 	1382 	1384 	1386 	1388 	1390 	1392 	1394 	1396 	1398 	1400 	1402 	1404 	1406 	1408 	1410 	1412 	1414 	1416 	1418 	1420 	1422 	1424 	1426 	1428 	1430 	1432 	1434 	1436 	1438 	1440 	1442 	1444 	1446 	1448 	1450 	1452 	1454 	1456 	1458 	1460 	1462 	1464 	1466 	1468 	1470 	1472 	1474 	1476 	1478 	1480 	1482 	1484 	1486 	1488 	1490 	1492 	1494 	1496 	1498 	1500 	1502 	1504 	1506 	1508 	1510 	1512 	1514 	1516 	1518 	1520 	1522 	1524 	1526 	1528 	1530 	1532 	1534 	1536 	1538 	1540 	1542 	1544 	1546 	1548 	1550 	1552 	1554 	1556 	1558 	1560 	1562 	1564 	1566 	1568 	1570 	1572 	1574 	1576 	1578 	1580 	1582 	1584 	1586 	1588 	1590 	1592 	1594 	1596 	1598 	1600 	1602 	1604 	1606 	1608 	1610 	1612 	1614 	1616 	1618 	1620 	1622 	1624 	1626 	1628 	1630 	1632 	1634 	1636 	1638 	1640 	1642 	1644 	1646 	1648 	1650 	1652 	1654 	1656 	1658 	1660 	1662 	1664 	1666 	1668 	1670 	1672 	1674 	1676 	1678 	1680 	1682 	1684 	1686 	1688 	1690 	1692 	1694 	1696 	1698 	1700 	1702 	1704 	1706 	1708 	1710 	1712 	1714 	1716 	1718 	1720 	1722 	1724 	1726 	1728 	1730 	1732 	1734 	1736 	1738 	1740 	1742 	1744 	1746 	1748 	1750 	1752 	1754 	1756 	1758 	1760 	1762 	1764 	1766 	1768 	1770 	1772 	1774 	1776 	1778 	1780 	1782 	1784 	1786 	1788 	1790 	1792 	1794 	1796 	1798 	1800 	1802 	1804 	1806 	1808 	1810 	1812 	1814 	1816 	1818 	1820 	1822 	1824 	1826 	1828 	1830 	1832 	1834 	1836 	1838 	1840 	1842 	1844 	1846 	1848 	1850 	1852 	1854 	1856 	1858 	1860 	1862 	1864 	1866 	1868 	1870 	1872 	1874 	1876 	1878 	1880 	1882 	1884 	1886 	1888 	1890 	1892 	1894 	1896 	1898 	1900 	1902 	1904 	1906 	1908 	1910 	1912 	1914 	1916 	1918 	1920 	1922 	1924 	1926 	1928 	1930 	1932 	1934 	1936 	1938 	1940 	1942 	1944 	1946 	1948 	1950 	1952 	1954 	1956 	1958 	1960 	1962 	1964 	1966 	1968 	1970 	1972 	1974 	1976 	1978 	1980 	1982 	1984 	1986 	1988 	1990 	1992 	1994 	1996 	1998 	2000
Total is 751500

برنامه ای بنویسید که عددی از کاربر بگیرد و مجموعه زیر را چاپ کند

s = 1 + 1/2 + 1/3 + 1/4 + 1/5 + 1/n

In [ ]:
n = int(input("Please Ensert Number : "))

s = 0

i = 1

while i < n:
  s += 1/i
  i += 1

print(f"{s:.3}")

Please Ensert Number : 6
2.28

برنامه ای بنویسید که یک عدد طبیعی بگیرد و مجموعه ی زیر را محاسبه کند

s = 1/2 + 1/4 + 1/6 + 1/8 + 1/n

In [ ]:
n = int(input("Please Ensert a Number : "))

i = 2

s = 0

while i < n:
  s += (1/i)
  i += 2

print(s)

Please Ensert a Number : 10
1.0416666666666665

برنامه ای بنویسید که یک عدد طبیعی بگیرد و مجموعه ی زیر را محاسبه کند

s = 1 /(3 ** 1) + 2 /(3 ** 2) + 3/(3 ** 3) + n/(3 ** n)

In [ ]:
n = int(input("Please Ensert a Number : "))

i = 1

s = 0

while i < n:
  s += i/(3 ** i)
  i += 1

print(s)

Please Ensert a Number : 5
0.7160493827160495

برنامه ای بنویسید که سه عدد ایکس و وای و زد را بگیرد و سپس تعیین کند که یک مثلث تشکیل می شود یا نه

In [ ]:
x = int(input("Insert the X :"))
y = int(input("Insert the Y :"))
z = int(input("Insert the Z :"))

if x + y > z and x + z > y and y + z > x:
  print("It's a Triangle")
else:
  print("It's not a Triangle")

Insert the X :4
Insert the Y :3
Insert the Z :5
It's a Triangle

برنامه ای بنویسید که طول اضلاع مثلث را بگیرد پس اینکه تایین کرد که مثل است چک کند ببیند که آیا قائم الزاویه هست یا نه ؟

In [ ]:
x = int(input("Insert the X :"))
y = int(input("Insert the Y :"))
z = int(input("Insert the Z :"))

if x + y > z and x + z > y and y + z > x:
  print("It's a Triangle")
  if x ** 2 == y ** 2 + z ** 2 or y ** 2 == x ** 2 + z ** 2 or z ** 2 == y ** 2 + x ** 2:
    print("It's A Ghaemol Zavie")
  else:
    print("but not a Ghaemol Zavie")
else:
  print("It's not a Triangle")

Insert the X :5
Insert the Y :3
Insert the Z :4
It's a Triangle
It's A Ghaemol Zavie

برنامه ای بنوسید که  10 عدد بگیرد و یکی یکی چاپ کند و بعد مجموع آنها را چاپ کند

In [ ]:
numbers = []

i = 0

while i < 10:
  num = int(input("Please Ensert A Number : "))
  numbers.append(num)
  print(num)
  i += 1

print(f"The Sum of All Numbers : {sum(numbers)}")

Please Ensert A Number : 1
1
Please Ensert A Number : 2
2
Please Ensert A Number : 3
3
Please Ensert A Number : 4
4
Please Ensert A Number : 5
Please Ensert A Number : 6
5
6
Please Ensert A Number : 7
7
Please Ensert A Number : 8
8
Please Ensert A Number : 9
9
Please Ensert A Number : 10
10
The Sum of All Numbers : 55

برنامه ای بنویسید که دو عدد بگیرید و بزرگترین و کوچکترین  عدد را مشخص کند و اگر هر دو عدد برابر بودند آن دو عدد را از اول بگیرد

In [ ]:
while True:
  x = int(input("Insert X : "))
  y = int(input("Insert Y : "))
  z = int(input("Insert Z : "))

  if x != y and x != z and y != z:
    print(f"MAX is : {max(x, y, z)}")
    print(f"MIN is : {min(x, y, z)}")
    break
  else:
    print("Please Try Again")

Insert X : 3
Insert Y : 3
Please Try Again
Insert X : 5
Insert Y : 4
MAX is : 5
MIN is : 4

برنامه ای بنویسید که عدد صحیح مثبت را بگیرد و تعیین کند که زوج است یا منفی

In [ ]:
x = int(input("Please Ensert A Number : "))

if x > 0 and x % 2 == 0:
  print("It's Posetive and Even")
else:
  print("Mabye It's Not Posetive or Even")

Please Ensert A Number : 6
It's Posetive and Even

برنامه ای بنویسید که عددی را بگیرد و مقسوم علیه های آن را چاپ کند و تعداد آنها و مجموع آنها

In [ ]:
n = int(input("Please Ensert A Number : "))

total = 0
count = 0

for i in range(1, n + 1):
  if n % i == 0:
    total += i
    count += 1
    print(i)

print(f"Number of Maghsums {count}")
print(f"Total of Maghsums {total}")

Please Ensert A Number : 12
1
2
3
4
6
12
Number of Maghsums 6
Total of Maghsums 28

برنامه ای بنویسید که عددی را بگیرد و تعیین کند که عدد تام یا کامل یا نه ؟

In [ ]:
n = int(input("Please Ensert A Number : "))

maghsums = 0

for i in range(1, n):
  if n % i == 0:
    maghsums += i

if maghsums == n:
  print("It's A complete Number")
else:
  print("It's Not a Complete Number")

Please Ensert A Number : 28
It's A complete Number

برنامه ای بنویسید که عددی از ورودی بگیرد و تعیین کند که عدد اول است یا خیر

In [ ]:
n = int(input("Please Ensert A Number : "))


if n > 1:
  for i in range(2, n):
    if n % i == 0:
      print("It's Not Prime")
      break
  else:
    print("It's Prime")
else:
  print("It's Not Prime")

Please Ensert A Number : 13
It's Prime

برنامه ای بنویسید که عددی را دریافت کند و فاکتوریل آن را چاپ کند

In [ ]:
n = int(input("Please Ensert A Number : "))

total = 1

for i in range(1, n + 1):
  total *= i

print(f"The Factorial {n} is {total}")

Please Ensert A Number : 4
The Factorial 4 is 24

برنامه ای بنویسید که حاصل عبارت زیر را بدهد

*   total = 1! + 2! + 3! + 4! + n!

In [ ]:
n = int(input("Please Ensert A Number : "))

total = 0

for i in range(1, n + 1):
  mini_total = 1
  for j in range(1, i + 1):
    mini_total *= j
  total += mini_total

print(f"The Result is : {total}")

Please Ensert A Number : 3
The Result is : 9

برنامه ای بنویسید که کلیه مقسوم علیه های اعداد بین 2 تا 500 را برای هر کدام به طور جداگانه چاپ کند

In [ ]:
t = 2

while t <= 50:
  print(f"Maghsums {t}:")
  for i in range(1, t + 1):
    if t % i == 0:
      print(i,)
  t += 1

Maghsums 2:
1
2
Maghsums 3:
1
3
Maghsums 4:
1
2
4
Maghsums 5:
1
5
Maghsums 6:
1
2
3
6
Maghsums 7:
1
7
Maghsums 8:
1
2
4
8
Maghsums 9:
1
3
9
Maghsums 10:
1
2
5
10
Maghsums 11:
1
11
Maghsums 12:
1
2
3
4
6
12
Maghsums 13:
1
13
Maghsums 14:
1
2
7
14
Maghsums 15:
1
3
5
15
Maghsums 16:
1
2
4
8
16
Maghsums 17:
1
17
Maghsums 18:
1
2
3
6
9
18
Maghsums 19:
1
19
Maghsums 20:
1
2
4
5
10
20
Maghsums 21:
1
3
7
21
Maghsums 22:
1
2
11
22
Maghsums 23:
1
23
Maghsums 24:
1
2
3
4
6
8
12
24
Maghsums 25:
1
5
25
Maghsums 26:
1
2
13
26
Maghsums 27:
1
3
9
27
Maghsums 28:
1
2
4
7
14
28
Maghsums 29:
1
29
Maghsums 30:
1
2
3
5
6
10
15
30
Maghsums 31:
1
31
Maghsums 32:
1
2
4
8
16
32
Maghsums 33:
1
3
11
33
Maghsums 34:
1
2
17
34
Maghsums 35:
1
5
7
35
Maghsums 36:
1
2
3
4
6
9
12
18
36
Maghsums 37:
1
37
Maghsums 38:
1
2
19
38
Maghsums 39:
1
3
13
39
Maghsums 40:
1
2
4
5
8
10
20
40
Maghsums 41:
1
41
Maghsums 42:
1
2
3
6
7
14
21
42
Maghsums 43:
1
43
Maghsums 44:
1
2
4
11
22
44
Maghsums 45:
1
3
5
9
15
45
Maghsums 46:
1
2
23
46
Maghsums 47:
1
47
Maghsums 48:
1
2
3
4
6
8
12
16
24
48
Maghsums 49:
1
7
49
Maghsums 50:
1
2
5
10
25
50

برنامه ای بنویسید که روز و ماه را از کاربر بگیرد و تعیین کند که در روز چندم ماه است.

In [ ]:
month = int(input("Please Ensert a Month of Year : "))
day = int(input("Please Ensert a Day Of Month : "))

if 0 < day <= 31 and 0 < month <= 12:
  if month <= 6:
    days = month * 31 + day
    print(f"You're in {days} in Year.")
  else:
    month_30 = (month - 7) * 30
    days = 186 + month_30 + day
    print(f"You're in {days} in Year.")

Please Ensert a Month of Year : 12
Please Ensert a Day Of Month : 30
You're in 366 in Year.

برنامه ای بنویسید که عدد زوج و مثبت را دریافت کند و خروجی زیر را بدهد

S = 1/2 -2/3 + 3/4 - 4/5 +....+n-1/n

In [ ]:
n = int(input("Please Ensert a Number : "))

isPosetive = False

if n > 0:
  total = 0
  for i in range(1 , n + 1):
    if isPosetive:
      total += i - 1 / i
      isPosetive = not(isPosetive)
    else:
      total -= i - 1 / i
      isPosetive = not(isPosetive)
  print(f"{total:.4}")

Please Ensert a Number : 5
-2.217

برنامه ای بنویسید که دو عدد صحیح و مثبت را دریافت و ب.م.م و ک.م.م آنها را مشخص کند

In [ ]:
m = int(input("Please Ensert A Number : "))
n = int(input("Please Ensert another Number : "))

max_ = max(m, n)
min_ = min(m, n)

m_maghsums = set()
n_maghsums = set()

for i in range(1, m + 1):
  if m % i == 0:
    m_maghsums.add(i)

for i in range(1, n + 1):
  if n % i == 0:
    n_maghsums.add(i)

print("BMM :",max(m_maghsums & n_maghsums))

print("KMM :",(m * n) / max(m_maghsums & n_maghsums))

Please Ensert A Number : 10
Please Ensert another Number : 25
BMM : 5
KMM : 50.0

برنامه ای بنویسید که عددی را دریافت کند و تعداد ارقام آن را چاپ کند

In [ ]:
n = int(input("Please Enter Number : "))

counter = 0

while n > 0 :
  n //= 10
  counter += 1

print(counter)

Please Enter Number : 21321
5

برنامه ای بنویسید که اعداد را در مبنای 2 دریافت کنند و در مبنای 8 تحویل دهد

In [ ]:
n = input("Please Ensert Binary Number : ")

total = 0

for i in enumerate(n):
  if i[1] == '1':
    total += (2 ** i[0])

exit = str(oct(total)).replace("0o", "")

print(f"oct is {exit}")

Please Ensert Binary Number : 1101
oct is 13

برنامه ای بنویسید که اعدادی را ورودی بگیرد و بزرگترین آنها را چاپ کند

In [ ]:
n = int(input("Please Ensert N Number : "))

numbers = []

i = 0

while i < n:
  numbers.append(int(input("Please Enter Number : ")))
  i += 1


print(f"The Max Number is {max(numbers)}")

Please Ensert N Number : 5
Please Enter Number : 51
Please Enter Number : 321
Please Enter Number : 764
Please Enter Number : 414
Please Enter Number : 641
The Max Number is 764

برنامه ای بنویسید که نام و ساعت کاری فرد را دریافت کند و حقوق فرد را حساب کند

In [ ]:
numberOfWorker = int(input("Please Ensert Number of Workers : "))

i = 0

total = 0

for i in range(numberOfWorker):
  name = input("Ensert Your Name : ")
  amount = int(input("Please Ensert Your Amount : "))
  if amount >= 50:
    total += ((amount - 50) * 1000 * 1.5) + 50 * 1000
  else:
    total += amount * 1000


print(f"Total of amounts is : {total}")

Please Ensert Number of Workers : 4
Ensert Your Name : Arash
Please Ensert Your Amount : 60
Ensert Your Name : Ali
Please Ensert Your Amount : 51
Ensert Your Name : Mostafa
Please Ensert Your Amount : 90
Ensert Your Name : Karim
Please Ensert Your Amount : 70
Total of amounts is : 306500.0

برنامه ای بنویسید که حقوق کارمند را بخواند اگر حقوق 25000 تومان بود به آن 5% اضافه کند و اگر کسی حقوقشش بین 25000 تا 35000 تومان بود 7% و اگر بیشتر بود 10% اضافه کند

In [ ]:
amount = int(input("Please Ensert Your Amount : "))

final_amount = 0

if amount <= 25000:
  final_amount = amount + (amount * 0.05)
if 2500 < amount < 3500:
  final_amount = amount + (amount * 0.07)
if 3500 <= amount:
  final_amount = amount + (amount * 0.1)

print(final_amount)

Please Ensert Your Amount : 4000
4400.0